/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 1px;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    overflow-x:hidden ;
    position: relative;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Sesuaikan padding sesuai kebutuhan */
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100vw;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: goldenrod;
}

.navbar-nav {
    display: flex;
    margin: 0 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.navbar-nav a{
    color: goldenrod;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;

}

.nav-item {
    margin: 0 10px;
    color: red;
}

.nav-item a{
    color: goldenrod;
    font-size: 20px;
}
/* Header Styles */

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    right:0;
    z-index: 1000;
    display: contents;
    align-items: center;
    justify-content: space-between;
    padding: 100;
}

header h1 {
    font-size: 3rem;
}

.shop{
    color: #fff;
}
/* Section Styles */
section{
    /* padding: 5% 10%; */
    color: #fff;
}


.main-home{
    /* width:1000px;
    height: 750px; */
    background-position: start;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.home-img{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.3; */
    filter: alpha(opacity=10);
}
.main-text .heading {
    position: absolute;
    top: 25%;
    left: 23%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.main-text .heading h5{
    color: blue;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    z-index:100;

}
.main-text .heading h3{
    color: whitesmoke;
    font-size: 40px;
    top: 10%;
    left: 80%;
    text-align: center;
    
}


.main-btn{
  background-color: black;
  color: goldenrod;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

}

.section-tittle{
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.shop{
    margin-top: 2rem;
}
.shop-container {
    width: 85vw;
    margin: 0 auto;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, auto));
    gap: 1.5rem;
    padding-top: 100px;
}

.product-box {
    position: relative;
    margin-left: 100px;
}

.product-box a{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100rem;
    color:white;
    text-decoration: none;
}
.product-img{
    width: 300px;
    height: 400px;
    margin-bottom: 0.5rem;
}

.product-box:hover{
    transform: scale(1.05);
    border: 1px solid var(--text-color);
    transition: 0.4s;

}

.product-tittle{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 100rem;
}

.price{
    font-size: px;
}

.swipe {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height:850px;
    width:100vw;
    position: relative;
  }

  .swipe

  swiper-container {
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(40%);
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: alpha(opacity=10);
  }

  .checked {
    color: orange;
  }

  .modal {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .login{
    background-color: white;
    width: 400px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .login-form{
    margin-top: 20px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80%;
  }

  .login-type{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }
.login-button{
    width: 30%;
    height: 30px;
    color: white;
    background-color: red;
    border: 0;
}