body{
  background-color: black;
}

form {
  border: 3px solid #141414;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(18, 17, 17);
  box-sizing: border-box;
}

button {
  background-color: goldenrod;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: goldenrod;
}

.imgcontainer {
  color: goldenrod;
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button a{
  color: aqua;
}

.containerr.cancelbtn{
  padding-top: 100px;
}

.container a{
  color: goldenrod;
  font-size: 16px;
  text-transform: capitalize;
  padding-top: -10px;
  font-weight: 400;
  transition: all .42s ease;
  float: right
}

span.psw {
  float: right;
  padding-top: 16px;
  color: goldenrod;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}